	body{
		font-size: 28px;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
  		background-color: #e8dcd8;
  		position: -webkit-sticky; /* Safari */
  		position: sticky;
 		top: 0;
		}

	li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #eacec5;
}

.pop {
width: auto;
padding: 250px;
background-size: cover;
background-image: url(file:///Users/philomenebeliard/Desktop/site%20vitrine/img/image3.png);
}

.pip{
	background-color: #e8dcd8;
}
div#colonne1 {
	float: left;
	width: 160px;
	margin-right: 10px;


}

div#colonne2 {
	float: right;
	width: 600px;
	margin-left: 10px;
}

div#centre {
	overflow: hidden;
}   

	.box {
        display: flex;
      }

      .one {
        flex: 1;
        justify-content: center;
        text-align: center;
      }

      .two {
        flex: 1;
        justify-content: center;
      }

     
.pap{
	text-align: center;
	justify-content: center;
}